/* * {
  margin: 0;
  padding: 0;
} */
body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
  margin: 10px;
}

ul {
  text-align: center;
}

.error {
  color: red;
}

.likes {
  color: red;
}

.nothing{
  color: white;
}

.small-img {
  width: 200px;
  height: 120px;
}

.module {
  background-size: cover;
}

.top {
  color: white;
  padding: 20px;
}

.m {
  margin: auto;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.r {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-self: center; */
}

.c {
  flex: 0 1 20%;
}

/* Create four equal columns */
.column {
  flex: 0 1 100%;
  height: 100px;
  max-width: 70vw;
  /* border: 1px solid lightgray; */
  /* margin: 10px; */
}

/* On screens that are 500px wide or less, go from four columns to two columns */
/* @media screen and (max-width: 500px) {
  .column {
    max-width: 100vw;

  }
  .c {
    flex: 0 1 20%;
  }
} */

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
} */

.athlete-main-img {
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  background-size: cover;
}

.no-p-margin {
  margin: 0;
}

.space {
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-column {
  flex: 0 1 100%;
  width: 70vw;
  margin-top: 10px;
}

.container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.box {
  position: relative;
  width: 90vw;
}

.content-img {
  max-height: 70vh;
  width: 90vw;
  border-bottom-right-radius: 20px;
  object-fit: cover;
}

@media screen and (min-width: 500px) {
  .content-img {
    width: 50vw;
  }
  .box {
    width: 50vw;
  }
}

.like {
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(255, 0, 55);
  color: white;
  position: absolute;
  padding: 15px;
  bottom: 4px;
  right: 0px;
}

nav {
  background-color: black;
  overflow: hidden;
  padding: 1em;
}

nav a {
  color: white;
}

nav a:visited {
  color: white;
}

nav .navWide {
  display: none;
  margin: 0 auto;
}

nav .navWide .wideDiv {
  text-align: center;
}

nav .navWide .wideDiv a {
  text-decoration: none;
  display: inline-block;
  /*Adjust padding to increase/decrease the space between links.*/
  padding: 0 2em;
}

/*Navbar is set to default with the "hamburger" and links on the left
side of the screen. To move to the right of the screen, simply
change the three "float: Left;" references to read "float: right;".*/
nav .navNarrow i {
  float: left;
  cursor: pointer;
  color: white;
}

nav  {
  padding: 1em;
}

nav .navNarrow .narrowLinks a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  margin: .75em 0;}

.hidden {
  display: none;
}


/*Adjust breakpoint as desired to select when the "hamburger" menu is
replaced by just the links.*/
@media (min-width: 480px) {
  nav .navWide {
    display: block;
  }

  nav .navNarrow {
    display: none;
  }
}