/* * {
  margin: 0;
  padding: 0;
} */
body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
  margin: 10px;
}

ul {
  text-align: center;
}

.error {
  color: red;
}

.likes {
  color: red;
}

.nothing{
  color: white;
}

.small-img {
  width: 200px;
  height: 120px;
}

.module {
  background-size: cover;
}

.top {
  color: white;
  padding: 20px;
}

.m {
  margin: auto;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.r {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* justify-self: center; */
}

z

/* Create four equal columns */
.column {
  flex: 0 1 100%;
  height: 100px;
  max-width: 70vw;
  /* border: 1px solid lightgray; */
  /* margin: 10px; */
}

/* On screens that are 500px wide or less, go from four columns to two columns */
/* @media screen and (max-width: 500px) {
  .column {
    max-width: 100vw;

  }
  .c {
    flex: 0 1 20%;
  }
} */

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
} */

.athlete-main-img {
  height: 5rem;
  width: 5rem;
  border-radius: 10px;
  object-fit: cover;
}

.no-p-margin {
  margin: 0;
  word-break: break-word;
  margin-right: 30vw;
}

.space {
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-column {
  flex: 0 1 100%;
  width: 70vw;
  margin-top: 10px;
}

.container {
  margin-left: 30vw;
  margin-right: 30vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box {
  position: relative;
  width: 80vw;
}

.content-img {
  height: 70vh;
  width: 80vw;
  border-bottom-right-radius: 20px;
  object-fit: cover;
}

@media screen and (min-width: 500px) {
  .content-img {
    margin-top: 20px;
    height: 70vh;
    width: 30vw;
    border-radius: 20px;
  }
  .box {
    width: 30vw;
    margin: auto;
  }
}

/* @media screen and (min-width: 800px) {
  .content-img {
    width: 10vw;
  }
  .box {
    width: 70vw;
    margin: auto;
  }
} */

/* @media screen and (min-width: 800px) {
  .content-img {
    height: 50vh;
    width: 10vw;
  }
  .box {
    width: 10vw;
    margin: auto;
  }
} */

.heart {
  margin-top: 1em;
  text-align: center;
  font-size: 2em;
  color: red;
  transition: all .08s ease-in-out;
}

.heart:active {
  transform: scale(1.5);
}

nav {
  background-color: black;
  overflow: hidden;
  padding: 1em;
}

nav a {
  color: white;
}

nav a:visited {
  color: white;
}

nav .navWide {
  display: none;
  margin: 0 auto;
}

nav .navWide .wideDiv {
  text-align: center;
}

nav .navWide .wideDiv a {
  text-decoration: none;
  display: inline-block;
  /*Adjust padding to increase/decrease the space between links.*/
  padding: 0 2em;
}

/*Navbar is set to default with the "hamburger" and links on the left
side of the screen. To move to the right of the screen, simply
change the three "float: Left;" references to read "float: right;".*/
nav .navNarrow i {
  float: left;
  cursor: pointer;
  color: white;
}

nav  {
  padding: 1em;
}

nav .navNarrow .narrowLinks a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  margin: .75em 0;}

.hidden {
  display: none;
}


/*Adjust breakpoint as desired to select when the "hamburger" menu is
replaced by just the links.*/
@media (min-width: 480px) {
  nav .navWide {
    display: block;
  }

  nav .navNarrow {
    display: none;
  }
}

.created-sm {
  font-size: .75em;
  margin-left: .5em;
  color: gray;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

input, textarea, select, button {
  width : 150px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}